__pycache__
.venv
app.log

node_modules

# Terraform specific files --

# Local .terraform directory
**/.terraform/

# Terraform plan and state
**/*.tfstate
**/*.tfstate.backup
**/*.tfplan
**/*.tfapply
**/.terraform.tfstate.lock.info

# Crash logs
**/crash.log