<!DOCTYPE html>
<html>
  <head>
    <title>Orders</title>
  </head>
  <body>
    <h1>Orders</h1>
    <ul>
      {% for order in orders %}
      <li>
        Order ID: {{ order.id }}, Product: {{ products.get(order.product_id,
        order.product_id) }}, Quantity: {{ order.quantity }}
      </li>
      {% endfor %}
    </ul>
    <h2>Create Order</h2>
    <form action="{{ url_for('create_order') }}" method="post">
      <label for="product_id">Product:</label>
      <select name="product_id" required>
        {% for id, name in products.items() %}
        <option value="{{ id }}">{{ name }}</option>
        {% endfor %}
      </select>
      <input type="number" name="quantity" placeholder="Quantity" required />
      <button type="submit">Create Order</button>
    </form>
    <br />
    <a href="{{ url_for('index') }}"> << Back to Products</a>
  </body>
</html>
